[submodule "pthbetter-link-creator"]
	path = pthbetter-link-creator
	url = https://github.com/SavageCore/pthbetter-link-creator.git
[submodule "yadg-pth-userscript"]
	path = yadg-pth-userscript
	url = https://github.com/SavageCore/yadg-pth-userscript.git
